{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyTrack - Изучение Python</title>
    <link rel="stylesheet" href="{% static 'learning/css/main.css' %}">
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="#"><img src="{% static 'learning/images/snake_calm.png' %}" alt="🐍"> Главная</a></li>
            <li><a href="/support/"><img src="{% static 'learning/images/snake_party.png' %}" alt="🐍"> Помощь</a></li>
            <li><a href="/sub/"><img src="{% static 'learning/images/snake_dead.png' %}" alt="🐍"> Подписка</a></li>
            <li><a href="/profile/"><img src="{% static 'learning/images/snake_passion.png' %}" alt="🐍"> Профиль</a></li>
            <li><a href="/about/"><img src="{% static 'learning/images/snake_happy.png' %}" alt="🐍"> О нас</a></li>
        </ul>
    </nav>
</header>

<main>
    <aside class="lesson-menu">
        <h2>Уроки</h2>
            {% for lesson in lessons %}
            <form method="post" action="{% url 'lesson_detail' lesson.id %}">
                {% csrf_token %}
                <button type="submit" class="lesson-button">
                    {{ lesson.title }}
                </button>
            </form>
            
            {% empty %}
                <p>Нет доступных уроков</p>
            {% endfor %}
        <ul>
            {% for lesson in lessons %}
                <li>{{ lesson.title }} - {% if lesson.unlocked %}открыт{% else %}закрыт{% endif %}</li>
            {% empty %}
                <li>Нет уроков.</li>
            {% endfor %}
        </ul>
    </aside>

    <section class="lesson-content">
        <div class="lesson-title">
            {% if selected_lesson %}{{ selected_lesson.title }}{% else %}Выберите урок{% endif %}
        </div>
        <div class="lesson-box">
            {% if selected_lesson %}
                {{ selected_lesson.content|safe }}
            {% endif %}
        </div>
    </section>
</main>
</body>
</html>