{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Урок 1: Введение в Python</title>
    <link rel="stylesheet" href="{% static 'learning/css/practice.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <h2>Урок 1: Введение в Python</h2>
        </div>
    </header>

    <main>
        <div class="practical-content">
            <h1>Практическое задание 2</h1>
            <p>Что выведет следующая строка кода?</p>
            <pre><code>Print(Hello, world!)</code></pre>
            
            <form id="question-form">
                <label>
                    <input type="radio" name="answer" value="a"> a) Hello, world!
                </label><br>
                <label>
                    <input type="radio" name="answer" value="b"> b) Hello
                </label><br>
                <label>
                    <input type="radio" name="answer" value="c"> c) Hello , world !
                </label><br>
                <label>
                    <input type="radio" name="answer" value="d"> d) Ошибку
                </label><br>
            </form>

            <div class="button-container">
                <a href="{% url 'lesson1' %}" class="button-link">
                    <button class="button">Вернуться к теории</button>
                </a>
                <a href="{% url 'main' %}" class="button-link">
                    <button class="button">Вернуться на главную</button>
                </a>
                <button id="check-btn" class="button">Проверить</button>
                <a href="{% url 'practice3' %}" class="button-link">
                    <button id="next-task-btn" class="button" style="display: none;">Перейти к следующему заданию</button>
                </a>
            </div>
        </div>
    </main>

    <script>
        const checkBtn = document.getElementById('check-btn');
        const nextTaskBtn = document.getElementById('next-task-btn');
        const questionForm = document.getElementById('question-form');

        checkBtn.addEventListener('click', function() {
            const selectedAnswer = document.querySelector('input[name="answer"]:checked');
            
            if (selectedAnswer) {
                if (selectedAnswer.value === 'd') {
                    nextTaskBtn.style.display = 'inline-block';
                    checkBtn.disabled = true;
                } else {
                    alert("Неправильный ответ. Попробуйте еще раз.");
                }
            } else {
                alert("Пожалуйста, выберите вариант ответа.");
            }
        });
    </script>
</body>
</html>